footer.footer {
  border-top: $light-border;

  .logo {
    img, svg {
      width: auto;
      height: $footer-logo-height;
    }
  }
}

@include mobile {
  .footer-copyright {
    text-align: center;
  }
}
