.field {
  &.has-check {
    .field-body {
      margin-top: $default-padding * .125;
    }
  }
  .control {
    .mdi-24px.mdi-set, .mdi-24px.mdi:before {
      font-size: inherit;
    }
  }
}

.upload {
  .upload-draggable {
    display: block;
  }
}

.input, .textarea, select {
  box-shadow: none;

  &:focus, &:active {
    box-shadow: none!important;
  }
}

.button.is-static {
  background-color: transparent;
}

.switch {
  &:hover, &:focus {
    input[type=checkbox] + .check {
      background: transparent;
    }
  }

  input[type=checkbox] {
    &:checked + .check {
      border-color: $primary;
      &:before {
        background: $white;
        border: 0;
      }
    }
    + .check {
      background: transparent;
      border: $checkbox-border;

      &:before {
        background: transparent;
        border: $checkbox-border;
        box-shadow: none;
      }
    }
  }
}

.switch, .b-checkbox.checkbox, .b-radio.radio {
  input[type=checkbox], input[type=radio] {
    &:focus, &:focus:checked, &:active {
      + .check {
        box-shadow: none!important;
      }
    }
  }
}

.b-checkbox.checkbox input[type=checkbox], .b-radio.radio input[type=radio] {
  &+.check {
    border: $checkbox-border;
  }
}

.b-slider {
  .b-slider-track {
    background: transparent;
    border: 1px solid $base-color;
  }

  @each $state-class, $state-color, $state-text in $state-colors {
    &.is-#{$state-class} {
      .b-slider-track {
        border: 1px solid $state-color;
      }
    }
  }
}
